body{
    background:black
}
.navContainer{
    position:fixed;
    width:100%;
    height:50px;
    z-index:2;
    background:snow
}
.navContainer .company{
    position:absolute;
    left:0;
    width:250px;
    height:100%;
    color:black;
    text-align: right;
    align-content: center;
    font-size: 30px;
}
.navContainer .company .logo{
    position:absolute;
    left:0;
    top:0;
    width:50px;
    height:90%;
}
.navContainer .company .logo img{
    width:100%;
    height:100%;
}
.navContainer ul{
    position:absolute;
    right:0;
    list-style: none;
}
.navContainer ul a{
    text-decoration: none;
    color:black;
}
.navContainer ul .current{
    color:grey;
    border-bottom:2px solid black;
}
.navContainer ul li{
    display:inline;
    margin-right:20px;
    cursor: pointer;
    font-size: larger;
}
.navContainer ul li:hover{
    color:#7a7676;
}
.display{
    position:fixed;
    left:0;
    top:60px;
    width:100%;
    height:540px;
    background:blue;
}
.researcherContainer{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:80%;
    transition: 0.3s;
}
.researcherContainer .researcher{
    position:relative;
    display:inline-block;
    width:33%;
    height:100%;
    background:#343434;
    transition:0.3s;
    color:#ededed;
}
.researcherContainer .current{
    width:70%;
}
.researcherContainer .next{
    width:14.5%;
}
.researcherContainer .researcher img{
    position:absolute;
    bottom:-20px;
    left:0;
    width:80%;
    height:80%;
}
.researcherContainer .researcher .aboutResearcher{
    position:absolute;
    bottom:20px;
    left:5%;
    width:90%;
    height:500px;
}
.researcherContainer .researcher .aboutResearcher p{
    position:relative;
    font-size: large;
}
.researcherContainer .researcher .nameContainer{
    position:absolute;
    left:250px;
    width:50%;
    height:200px;
    text-align: center;
    align-content: center;
    font-size: 40px;
    color:#787878;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.researcherContainer .researcher .imageContainer{
    position:absolute;
    width:200px;
    height:200px;
}
.researcherContainer .researcher .imageContainer img{
    width:80%;
    height:100%;
}
.allResearcher{
    position:relative;
    top:60px;
    width:100%;
    height:100px;
    background:#343434;
    transition: 0.3s;
    overflow: hidden;
}
.all{
    position:fixed;
    left:0;
    height:60%;
}
.all .allImage{
    position:absolute;
    left:2%;
    top:10%;
    width:30%;
    height:80%;
}
.all .allImage img{
    width:100%;
    height:100%;
}
.all .description{
    width:65%;
    height:80%;
    position:absolute;
    right:2%;
    top:10%;
    align-content: center;
    color:#ededed;
    font-size: large;
}
.short{
    height:30%;
}